<style>
  .mainf{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    background-color: #1b1628 !important;

  font-weight: lighter !important;
  }
  .mm{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    background-color: #1b1628 !important;

  font-weight: lighter !important;
  }
</style>

<footer class="mainf" style="background-color: #181421; color: white;">
  <hr />
<div class="footerr">
  <div class="mm"  style="color: whitesmoke !important;">
    <p class="footer1" >© 2024 Roamify,Inc</p>
    <p class="footer1">Privacy</p>
    <p class="footer1">Terms</p>
    <p class="footer1">Sidemap</p>
    <p class="footer1">Company details</p>
  </div>

  <div class="footer2">
    <p class="f2"><i class="fa-solid fa-earth-americas"></i></p>
    <p class="f2">English(IN)</p>
    <p class="f2"><i class="fa-brands fa-square-facebook"></i></p>
    <p class="f2"><i class="fa-brands fa-square-twitter"></i></p>
    <p class="f2"><i class="fa-brands fa-square-instagram"></i></p>
  </div>
</div>
<br>
</footer>

