<% layout("/layouts/boilerplate") %>

<body class="new">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="heading">Create a New Listing</h3>
      <br />
      <form method="POST" action="/listings" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
        <label for="validationCustom01" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Enter title"
          id="validationCustom01"
          class="form-control"
          required
          type="text"
        />
        <br /><br />
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          placeholder="Enter description"
          required
        ></textarea>

        <!-- <label for="imglink" class="form-label">Image Link </label><i class="fa-solid fa-link"></i>
      <input
      class="form-control"
        name="listing[image]"
        placeholder="https://example.com/users/picture.png"

      /> -->
        <!-- <div class="in">
          <label for="img">Image Link</label>&nbsp;&nbsp;<i
            class="fa-solid fa-link"
          ></i>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="https://example.com/users/picture.png"
          
        /> -->
        <div class="in">
          <label for="img">Upload Image</label>&nbsp;&nbsp;<i
            class="fa-solid fa-link"
          ></i>
        </div>
        <input
        name="listing[image]"
          type="file"
          class="form-control"
          placeholder="https://example.com/users/picture.png"
          
        />
        <div></div>

        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label" for="price">Enter Price</label>
            <input
              class="form-control"
              name="listing[price]"
              placeholder="( Example:  &#8377; 1200 )"
              required
              type="number"
              required
            />
          </div>
          <br /><br />
          <div class="mb-3 col-4">
            <label class="form-label" for="price">Country</label>
            <input
              class="form-control"
              name="listing[country]"
              placeholder="Enter country"
              type="text"
              required
            />
          </div>

          <br /><br />
          <div class="mb-3 col-4">
            <label class="form-label" for="price">Location</label>
            <input
              class="form-control"
              name="listing[location]"
              placeholder="Enter location"
              type="text"
              required
            />
          </div>
        </div>
        <br /><br />

        <button class="btn btn-secondary">Add</button>
      </form>
    </div>
  </div>
</body>