<% layout("/layouts/boilerplate") %>
 

<style>
.er{
    margin-bottom: 2800px;
}
</style>


<div class="row">
    <div class="alert alert-danger col-6 offset-3 er" role="alert">
        <p class="alert-heading"> <%= message %></p>
    </div>
</div>