body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
   
    font-weight: lighter !important;
    
}

.navbar{
    padding-top: 20px !important;
    padding-left: 60px  !important;
    height:6rem !important;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif !important;
}
.nav-link{
    /* color: black !important; */
    font-family: Arial, Helvetica, sans-serif !important;
    margin-right: 4rem !important;
    font-size: 250x !important;

}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif !important;

}
.login{
    border: 2px solid gray !important ;
    border-radius: 6px;
}
.navbar-nav{
 margin-left: 10rem !important;
 
}
.name{
    font-family: Arial, Helvetica, sans-serif !important;
    color: pink !important;
}

.empt{
    margin-top: 30px !important;
    
}

.linkk{
    text-decoration: none !important;
}
.index{
    padding: 6px;
}

.card{
    padding: 15px;
    border: none !important;
    border-radius: 20px !important;
    margin-bottom: 2rem;
    transition: box-shadow ;
    
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); }
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    text-decoration: none !important;
}
.card-body{
    padding: 0 !important;
    text-decoration: none !important;
}

.card-text{
    font-weight: 200 !important;
    text-decoration: none !important;
    
}
/* .card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
} */
.tit{
    font-size: 16px;
}
.card-img-top{
    margin-bottom: 3px;
}

.mainf{
    background-color: #F7F7F7;
}
.footerr{
    display: flex;
    padding: 30px;
    padding-bottom: 0;
    height: 3rem;
    margin-top: -10px;
   

}
.mm{
    display: flex;
    font-weight: 400;
    color: black;
}
.footer1{
    margin-left: 20px;
   
   
}
.footer2{
    
    display: flex;
    margin-left: 30rem;
   
    
}
.f2{
    margin-left: 10px;
}
.showimg{
    height: 40vh;
   width: auto;
}
.btns{
    display: flex;
    
}
/* .fl{
    display: flex;
} */